@import "../../styles/valiables.scss";

.root {
  border-bottom: solid 1px #ff0000;
  display: flex;
  background: $color_orenge500;
  a {
    text-decoration: none;
  }
}
.header__inner {
  margin: 1rem;
  .logo {
    color: $color_white;
    font-size: $font-size-xl;
    font-family: $font-family-round;
    font-weight: $font-weight-bold;
  }
}
