.post_title{
  color: red
}
.article {
  border: 1px solid;
  border-radius: 2rem;
}
.article__head {
  padding: 1rem 2rem;
  border-radius: 2rem;
  border-bottom: 1px solid;
}
.article__body {
  margin: 2rem;
}